<h2>My Heros</h2>
<ul class="heroes">
  <!-- *ngFor: Angular's repeater directive. It repeats the host element for each element in a list. -->
  <!-- [class.selected]: Angular's class binding conditionally adds and removes a CSS class. -->
  <!-- onSelect(): An example of an Angular event handler. -->
  <!-- <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li> -->

  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
    <!-- <a routerLink="/detail/{{hero.name}}"> -->
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>
</ul>

<!-- The syntax below demonstrates how to bind a property from one component to another component -->
<!-- The relationship between the two components is parent/child -->
<!-- <app-hero-detail [hero]="selectedHero" [myInputProp]="jadesProperty"></app-hero-detail> -->